[submodule "axidma_proxy"]
	path = axidma_proxy
	url = https://github.com/Emptea/axidma_proxy
[submodule "ip_comm_test/modules/rls_fpga"]
	path = ip_comm_test/modules/rls_fpga
	url = https://github.com/ki4igin/rls_fpga.git
